###############################################################################
# File: .exports
# Author: Logan Friend
# Date Created: 2019-06-29
###############################################################################

# Put all of my exports here:

export EDITOR=vim
export WINHOME=/c/Users/logan/
export DOCKER_HOST=tcp://localhost:2375
