###############################################################################
# File: .functions
# Author: Logan Friend
# Date Created: 2019-06-29
###############################################################################

# All of my desired functions go here:

# 
update() {
    sudo apt-get update -y
}

# ls directory after cd to a new location
cd() {
    builtin cd "$@" && ls -A
}

# Gets your public IP address using amazon
pubip() {
    curl checkip.amazonaws.com
}

# Move projects from working folder to archive
archive() {
    mv ~/Files/1_Projects/$1 ~/Files/9_Archive/1_Projects/
}